.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 12px 24px;

    margin-top: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 16px;

    background-color: white;
    box-shadow: 0px 4px 4px 0px #D0D0D040;

    border-radius: 12px;
}

.card__title {
    font-weight: bold;
    color: #593C1C;
}

.card__count {
    color: #C82525;
    font-size: 12px;
}

.card__image {
    width: 100%;
}

.card__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__action {
    background-color: white;
    
    border: 1px solid #593C1C;
    color: #593C1C;
}

.card__price {
    font-weight: bold;
    color: #593C1C;
    font-size: 18px;
    margin-left: 8px;
}


@media only screen and (max-width: 1000px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 500px) {
    .cards {
        grid-template-columns: 1fr;
    }
}